<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>C. Erastus</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/academy.css') }}">
	</head>
		
	<body>
		<div class="upper-section">
			<div class="content">
				<h2>THE ACADEMY</h2>
				<p>"Learning never exhaust the mind"</p>
				<p>--Leonardo da Vinci</p>
			</div>
		</div>
		<div class="image-container">
		</div>

		<div class="books-container">
		</div>

		<div class="lower-section">
			<div class="grid-container">
				<div class="grid-item">
					<h2>Computer Science</h2>
					<p>I think it's safe to say that the mordern would not be possible with out computers</p>
				</div>
				<div class="grid-item">
					<h2>Mathematics</h2>
					<p>Math is the language of the universe. I would love to converse with the universe</p>
				</div>
				<div class="grid-item">
					<h2>Physics</h2>
					<p>Well, I watched way too much physics YouTube and now I want to learn theoritical physics</p>
				</div>
				<div class="grid-item">
					<h2>Philosophy</h2>
					<p>Because I don't subscribe to any religion, I need virtues to live by. Also I recently discover that all my friends for the past live, here, we can be together again, here they're alive till the end of my days </p>
				</div>
				<div class="grid-item">
					<h2>Psychology</h2>
					<p>I simply wanted to understand why my sister and I are completely different people</p>
				</div>
				<div class="grid-item">
					<h2>Neuroscience</h2>
					<p>I mean come on, who does't want to know how this black box between are two earys work. It's even more complicated than the universe</p>
				</div>
			</div>
			<!-- do things here -->
		</div>
	</body>
</html>
