{% extends "header_template.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>C. Erastus</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/academy.css') }}">
	</head>
		
	<body>
		<div class="upper-section">
			<div class="content">
				<h2>THE ACADEMY</h2>
				<p>I created The Academy for the pursuit of knowledge and wisdom. In which I can learn and explore. All is welcome!</p>
				<h4>"Learning never exhaust the mind"</h4>
				<p>--Leonardo da Vinci</p>
			</div>
		</div>

		<div class="lower-section">
			<div class="grid-container">
				<div class="grid-item">
					<img src="../static/img/computer.jpg" alt="Computer" style="width: 100%">
					<div class="container">
						<h2>Computer Science</h2>
						<p>I think it's safe to say that the mordern would not be possible with out computers</p>
					</div>
					<p><a href="https://www.freepik.com/free-ai-image/circuit-cyberspace-closeup-with-neon-lights_39518202.htm#page=2&query=cpu&position=17&from_view=search&track=sph&uuid=0fb5520d-52fc-46cb-8df8-d39e33fc5a08">Image By svstudioart</a></p>
				</div>
				<div class="grid-item">
					<img src="../static/img/mathematics.jpg" alt="math" style="width: 100%">
					<div class="container">
						<h2>Mathematics</h2>
						<p>Math is the language of the universe. I would love to converse with the universe</p>
					</div>
					<p>Image by <a href="https://www.freepik.com/free-vector/scientific-formulas-chalkboard_7456461.htm#query=mathematics&position=15&from_view=search&track=sph&uuid=1fa7729c-db5b-4b96-be42-1b45ce0e2c65">Freepik</a></p>
				</div>
				<div class="grid-item">
					<img src="../static/img/phys.jpg" alt="physics" style="width: 100%">
					<div class="container">
						<h2>Physics</h2>
						<p>Well, I watched way too much physics YouTube and now I want to learn theoritical physics</p>
					</div>
					<p>Image by <a href="https://www.freepik.com/free-vector/hand-drawn-scientific-formulas-chalkboard_7408871.htm#query=physics&position=42&from_view=search&track=sph&uuid=7fb147b6-a18e-4f7d-8940-b2b4b9fa0b4c">Freepik</a></p>
				</div>
				<div class="grid-item">
					<img src="../static/img/philo.jpg" alt="philosophy" style="width: 100%">
					<div class="container">
						<h2>Philosophy</h2>
						<p>Because I don't subscribe to any religion, I need virtues to live by. Also I recently discover that all my friends for the past live, here, we can be together again, here they're alive till the end of my days </p>
					</div>
					<p><a href="https://www.freepik.com/free-ai-image/ancient-greek-deity-philosopher-statue_94953843.htm#page=3&query=philosophy&position=16&from_view=search&track=sph&uuid=337fba18-8702-445d-8219-b3259df679c0">Image By freepik</a></p>
				</div>
				<div class="grid-item">
					<img src="../static/img/brain.jpg" alt="Brain" style="width: 100%">
					<div class="container">
						<h2>Psychology</h2>
						<p>I simply wanted to understand why my sister and I are completely different people</p>
					</div>
					<p><a href="https://www.freepik.com/free-ai-image/human-brain-detailed-structure_81446432.htm#fromView=search&term=psychology&track=ais_ai_generated&regularType=ai&page=1&position=9&uuid=1324811e-34f0-4a00-9605-91570edc9bb6">Image By freepik</a></p>
				</div>
				<div class="grid-item">
					<img src="../static/img/neuron.jpg" alt="Neurons" style="width: 100%">
					<div class="container">
						<h2>Neuroscience</h2>
						<p>I mean come on, who does't want to know how this black box between are two earys work. It's even more complicated than the universe</p>
					</div>
					<p><a href="https://www.freepik.com/free-ai-image/close-up-brain-with-blue-orange-lights_42298458.htm#fromView=search&term=neurons+free&track=ais_ai_generated&regularType=ai&page=1&position=13&uuid=8f363c86-3676-471c-bff3-08a93fbcbafd">Image By djvstock</a></p>
				</div>
			</div>
			<!-- do things here -->
		</div>
	</body>
</html>

{% endblock %}
