{% extends "header_template.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>C. Erastus/Career</title>
		<!-- Custom css file -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/career.css') }}">
	</head>
	<body>
		<div class="upper">
			<div class="upper-content">
				<h1>MY RESUME </h1>
			</div>
		</div>
		<div class="grid-container">
			<div class="grid-item">
				<h2>EDUCATION</h2>
				<p>University of Massachusetts Lowell, Lowell, MA</p>
				<p>Bachelor's of Science in Computer Science</p>
				<p>January 2017 - December 2020</p>
			</div>
			<div class="grid-item">
				<h2>TECHNICAL SKILLS</h2>
				<p>Programming Languages: C, C++, Python, x86, x86_64, HTML,<br>CSS</p>
				<p>OS & Tools: Experience with Linux, MacOS, Git, GitLab, JIRA,<br>Confluence, WindRiver GDB</p>
				<p>AI/ML: Deep Learning, fastai, PyTorch, TensorFlow</p>
				<p>Cybersecurity Tools: Immunity Debugger, IDA Pro, Kali Linux, Boozfuzz, Static & Dynamic Analysis</p>
			</div>
			<div class="grid-item">
				<h2>PUBLICATIONS</h2>
				<p>STIR: A Smart and Trustworthy IoT System Interconnecting<br>Legacy IR Devices</p>
			</div>
		</div>
		<h2>EXPERIENCES</h2>
		<div class="experience-container">
			<div class="grid-item">
				<img src="../static/img/anovai.jpg" alt="Anovai" style="width: 100%">
				<h2>ANOVAI LAB</h2>
				<h5>November 2023 - Present</h5>
				<h5>Founder & CEO</h5>
				<p>Anovai Laboratory is focused on Research & Development in Artificial Intelligence / Machine Learning and Cybersecurity</p>
				<p>Our goal is understanding the intersection of AI/ML and Cybersecurity</p>
				<p>Current Project: Aulnerability Research / Reverser Engineering / Malware Analysis using AI/ML</p>
			</div>
			<div class="grid-item">
				<img src="../static/img/bitflow.jpg" alt="BitFlow" style="width: 100%">
				<h2>BitFlow</h2>
				<h5>August 2022- August 2023</h5>
				<h5>Software Engineer: Linux Kernel</h5>
				<p>Primary Linux Kernel Software Engineer responsible for all BitFlow Linux software</p>
				<p>Developed Linux drivers, trouble shoot the kernel, develop and maintain documentations</p>
				<p>Ability to work on my on in a small team environment</p>
				<p>Ability to coordinate and prioritize multiple tasks</p>
			</div>
			<div class="grid-item">
				<img src="../static/img/red-hat.png" alt="Red Hat" style="width: 100%">
				<h2>RedHat</h2>
				<h5>July 2021 - August 2022</h5>
				<h5>Software Engineer: Linux Kernel</h5>
				<p>Experience with backporting upstream code to Linux distributions, kernel configuration, building and testing</p>
				<p>Knowledge of Git andupstream Linux kernel patch posting procedures, and experience with upstream development</p>
				<p>Implemented line micro detection for s390x in kpatch</p>
			</div>
			<div class="grid-item">
				<img src="../static/img/draper.png" alt="Draper" style="width: 100%">
				<h2>Draper</h2>
				<h5>January 2021 - June 2021</h5>
				<h5>System Software Development & Test Co-op</h5>
				<p>Worked on Guidance, Nevigation, and Control Team (GN&C)</p>
				<p>Develop and demonstrated concepts for a redundancy management system that minimizes and eliminates the hardware and software dependencies</p>
				<p>Developed unit test in C for Flight Software</p>
			</div>
			<div class="grid-item">
				<img src="../static/img/umass.png" alt="UMass" style="width: 100%">
				<h2>UMass Lowell</h2>
				<h5>May 2018 - December 2020</h5>
				<h5>Undergrad Cybersecurity Researcher</h5>
				<h5>Network Security Intern</h5>
				<h5>HCIsec REU Intern</h5>
				<h5>Computing II (C Programming) Tutor</h5>
				<h5>Computing II Grader</h5>
				<p>Reversed engineering and exploit development using Immnity Debugger, Vulnserver, BoozFuzz and Python3</p>
				<p>Implemented and deployed a honepot; conducted a proof of concept on Elastic Stack.
				<p>Knowledge of networking concets such as TCP/UPD, Ports, DNS, DHCP, Firewall</p>
				<p>Improved the software of an infrared transciever</p>
				<p>Designed a scheme to increase the transmission range of the infrared transceiver</p>

			</div>
			<div class="grid-item">
				<img src="../static/img/national-guard.png" alt="National Gard" style="width: 100%">
				<h2>Army National Guard</h2>
				<h5>January 2016 - February 2022</h2>
				<h5>Motor Transport Operator - 88M</h5>
				<h5>3 Army Achievement Medals</h5>
				<h5>Certificate of Achieve</h5>
				<p>Served on th Homeland Response Force (HRF) as an 36 communication numbeer.</p>
			</div>
		</div>
	</body>
</html>

{% endblock %}
