<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Custom css file -->
		<link rel="stylesheet" href="contact.css">
	</head>
	<body>
		<div class="upper-section">
			<h2>GET IN TOUCH</h2>
			<h4>Hey! I'm looking forward to hearing from you</h4>
		</div>
		<div class="lower-section"></div>

		<div class="grid-container">
			<div class="grid-item">
				<h2>PERSONAL</h2>
				<p>If you would like to reach out about anything personal related in relation to me or my life, please contact me at:</p>
				<h4>E-mail: chukpozohnt@gmail.com</h4>
				<h4>Linkedin: www.linkedin.com/in/c-erastus-toe</h4>
				<h4>Cell: +1 (978) 605-0416</h4>


			</div>
			<div class="grid-item">
				<h2>BUSINESS</h2>
				<p>If you would like to reach out to me for matters concerned with business; espically if you're interested in knowing more about Anovai lab, please contact me at:</p>
				<h4>E-mail: ctoe@anovailab.com</h4>
				<h4>Cell: Coming Soon! </h4>
			</div>
			<!--a href="https://www.freepik.com/free-vector/gradient-hexagonal-background_13839354.htm?query=white%20and%20gold#from_view=detail_alsolike">Image by pikisuperstar</a> on Freepik -->

		</div>


	</body>
</html>
