<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
</head>
<body>
	<header>
		<!-- image container here -->
		<!-- img src="../static/img/Erastus_logo.png" alt="profile picture" -->
		<nav class="top-nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/career">Career</a></li>
				<li><a href="/academy">The Academy</a></li>
				<li><a href="#">Blog</a></li>
			</ul>
		</nav>
		
		<nav class="bottom-nav">
			<li><a href="/travels">Travel</a></li>
			<li><a href="/arts">Arts</a></li>
			<li><a href="/sports">Sports</a></li>
			<li><a href="/health">Health</a></li>
			<li><a href="/contact">Contact</a></li>
		</nav>
	</header>
	{% block content %}
	{% endblock %}
</body>
</html>
